@page
@model Yummies.Areas.Admin.Pages.AddModel
@{
    Layout = @"~/Areas/Admin/Pages/Shared/_Layout.cshtml";
}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="col-md-4">
             
                <form class="text-center border border-light p-5" action="#!">

                    <p class="h4 mb-4">Add product</p>

                    <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Product name">

                    <input type="text" id="defaultContactFormEmail" class="form-control mb-4" placeholder="Category">

                    <label>Product type</label>
                    <select class="btn btn-secondary dropdown-toggle">
                        <option class="dropdown-menu" value="" disabled>Choose option</option>
                        <option class="dropdown-item" value="1" selected>Meal</option>
                        <option class="dropdown-item" value="2">Drink</option>

                    </select>
                   
                    <div class="form-group">
                        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Description"></textarea>
                    </div>

                    <div><button class="btn btn-info btn-block" type="submit">Add</button></div>

                </form>
            </div>
        </div>
    </div>