@page
@model Yummies.Areas.Admin.Pages.AddModel
@{
    Layout = @"~/Areas/Admin/Pages/Shared/_Layout.cshtml";
}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="col-md-4">

            <form class="text-center border border-light p-5" method="post" enctype="multipart/form-data">

                <p class="h4 mb-4">Add product</p>

                <input type="text" id="defaultContactFormName" class="form-control mb-4" asp-for="Name" placeholder="Product name">


                <label>Product type</label>
                <select id="productTypes" asp-for="Type" asp-items="Model.Types">
                    <option value="">Choose a type</option>
                </select>

                <div class="row" id="categories"></div>

                <input type="file" asp-for="Images" multiple />
                <input type="text" asp-for="Price" min="0" value="0" />
                <div class="form-group">
                    <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" asp-for="Description"></textarea>
                </div>

                <div><button class="btn btn-info btn-block" type="submit">Add</button></div>

            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $("#productTypes").change(function () {
           
            $.ajax({
                method: "get",
                contentType: "text",
                data: {type: $("#productTypes").val() },
                url: "/Admin/Add?handler=ProductType",
                success: function (data) {
                    $("#categories").empty();
                    $("#categories").html(data);
                }
            });
        });
    </script>
}