
@model int

<div id="cart">

    <a class="nav-link text-dark" asp-area="" asp-page="/ShoppingCart">
            Cart
        <i class="fa fa-shopping-cart">
            <span>@Model</span>
        </i>
    </a>

</div>
