@page
@model Yummies.Pages.CategoriesModel
@{
    ViewData["Title"] = "Categories";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<style>
    img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 265px;
        height: 150px;
    }
</style>
<form class="col-md-12">
    <div class="row">
        @foreach (var category in Model.MealCategoryViewModels)
        {


            <div class="col-md-3">
                <a asp-page="Meals" asp-route-categoryId="@category.MealCategoryId">
                   
                        <img src="~/images/@category.Image" />
                        <p style="text-align:center;">@category.CategoryName</p>
                   
                </a>
            </div>


        }
    </div>
</form>

