@page
@model Yummies.Pages.CategoriesModel
@{
    ViewData["Title"] = "Categories";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@foreach (var category in Model.MealCategoryViewModels)
{
    <form>
        <a asp-page="Meals" asp-route-id="@category.Id" style="width:200px;">
            <div class="col-md-5">
                <img src="~/images/@category.Image" />
                <p>@category.CategoryName</p>
            </div>

        </a>
    </form>
}

