@page
@model Yummies.Pages.EditOrderModel
@{
    ViewData["Title"] = "EditOrder";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

  
<div class="row">
       
            <div class="col-md-5">
                <form id="meal">
                    <div style="display:inline-block; text-align:center;">
                        <img src="~/images/@Model.OrderedMeal.Meal.Image" />
                        <p>@Model.OrderedMeal.Meal.MealName</p>
                        <p>Time for prepare: @Model.OrderedMeal.Meal.TimeForPrepare</p>
                        <p>Model.OrderedMeal.Meal.Price <span>$</span></p>

                            <input id="quantity" type="number" min="1" name="Quantity" value="@Model.OrderedMeal.Quantity" />
                            <input type="text" name="MealId" value="@Model.OrderedMeal.MealId" hidden />
                            <div>
                                <input id="submit" type="button" class="btn btn-success" value="Order">
                            </div>

                    </div>

                </form>
            </div>
        
    </div>


