#logo {
    font-family: 'Handlee', cursive;
    font-size: 30px;
   
}
section.cook-delecious {
    padding: 100px 0px;
}

.cook-delecious .first-image {
    margin-right: -30px;
    margin-top: 18%;
}

    .cook-delecious .first-image img {
        width: 100%;
        overflow: hidden;
    }

.cook-delecious .second-image {
    margin-left: -30px;
    margin-top: 18%;
}

    .cook-delecious .second-image img {
        width: 100%;
        overflow: hidden;
    }

.cook-delecious .cook-content {
    background-color: #f2745f;
    text-align: center;
    padding: 30px;
}

    .cook-delecious .cook-content h4 {
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #fff;
    }

.cook-content .contact-content {
    background-color: #f3826f;
    padding: 20px 30px;
}

    .cook-content .contact-content span {
        font-size: 11px;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 1px;
        border: none;
        width: auto;
        height: auto;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .cook-content .contact-content h6 {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        color: #fff;
        letter-spacing: 0.5px;
    }

.cook-content span {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 11px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    border: 1px solid #da6856;
    width: 25px;
    height: 25px;
    display: inline-block;
    line-height: 25px;
    border-radius: 50%;
}
